body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header,
.page-footer {
    padding: 10px;
}

.container {
    width: 1015px;
    margin: 0 auto;
}

.page-header {
    min-height: 490px;
    padding-top: 35px;
    background-image: url("img/wheat-back.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.header-logo {
    float: left;
    width: 205px;
    height: 55px;
}

.promo {
    font-weight: bold;
    font-size:  65px;
    line-height:  55px;
    color: white;
    font-family: "Georgia", serif;
    text-align: center;
    padding-top: 200px;
}

.history a {
    color: #725408;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 600px;
    text-transform: uppercase;
    color: white;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.btn {
    display: inline-block;
    width: 146px;
    padding: 10px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: #a38b70;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #a38b70;
    border-radius: 2px;
}

.btn-color {
    color: rgb(255, 255, 255);
    background-color: #834700;
    border: 2px solid #834700;
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
}

.order-form .btn:hover {
    background-color: #8d745a;
}

.order-form .btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.big-container {
    display: grid;
    grid-template-areas: "h1 h2";
    grid-template-columns: 500px 500px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.products {
    margin-bottom: 100px;
}

.products h2 {
    font-size: 50px;
    padding-left: 113px;
}

.products h3 {
    font-size: 50px;
    padding-left: 50px;
}

.small-container1 {
    border: 1px solid grey;
    border-collapse: collapse;
}

.small-container2 {
    border: 1px solid grey;
    border-collapse: collapse;
}

.small-container1 td {
    border: 1px solid grey;
    text-align: center;
}

.small-container2 td {
    border: 1px solid grey;
    text-align: center;

}

.product-item1 {
    grid-area: h1;
}

.product-item2 {
    grid-area: h2;
}

.beer-description1 {
    display: grid;
    grid-template-areas: "img dsc"
                          "t t"
                          "b b";
}

.beer-description2 {
    display: grid;
    grid-template-areas: "img dsc"
                          "t t"
                          "b b";
}

.small-beer-description1 {
    grid-area: dsc;
}

.small-beer-description2 {
    grid-area: dsc;
}

.img-beer1 {
    grid-area: img;
    justify-self: center;
    padding-left: 50px;
}

.img-beer2 {
    grid-area: img;
    justify-self: center;
    padding-left: 50px;
}

.beer-text1 {
    grid-area: t;
    justify-self: center;
    width: 400px;
}

.beer-text2 {
    grid-area: t;
    justify-self: center;
    width: 400px;
}

.buttons-and-price1 {
    grid-area: b;
    justify-self: center;
}

.buttons-and-price2 {
    grid-area: b;
    justify-self: center;
}

.features {
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: #bb9957;
}

.features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    position: relative;
    float: left;
    width: 275px;
    padding-top: 90px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-left: 1px solid grey;
}

.feature-item:first-child {
    border-left-color: transparent;
}

.feature-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Georgia", serif;
    color: #000000;
}

.feature-choice {
    background-image: url("img/icon-brew.png");
    background-repeat: no-repeat;
    background-position-x: 30px ;
    text-align: left;
}

.feature-safety {
    background-image: url("img/icon-thumbsup.png");
    background-repeat: no-repeat;
    background-position-x: 30px;
    text-align: left;
}

.feature-quality {
    background-image: url("img/icon-matreshka.png");
    background-repeat: no-repeat;
    background-position-x: 30px;
    text-align: left;
}

.feature-item p {
    margin: 0;
}

.history {
padding: 80px 0 64px
}

.history-title {
    margin: 0 0 60px
}

.history-text {
    width: 80%;
    margin: 20px 0 0;
}

.history-subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.history-container {
    display: grid;
}

.history dl {
    display: grid;
    grid-row-gap: 60px;
    grid-template-rows: 1fr 1fr;
}

.history-collumns {
    display: grid;
    margin: 0;
    grid-template-columns: 3fr 1fr;
}

.img-history {
    order: 1;
    margin-top: 29px;
}

.review {
    background-color: #ede5d8;
    padding: 80px 0 90px;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center ;
}

.review__title {
    margin: 0 0 75px;
    font-size: 40px;
}

.review__text {
    margin: 0 0 35px;
    width: 86%;
    position: relative
}

.review__source {
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.history-title {
    font-size: 40px;
}

.price-list {
    padding-top: 60px;
    padding-bottom: 70px;
    width: 100%;
}

.title {
    margin: 0 0 75px;
    padding: 90px 0 88px;
    font-size: 40px;
}

table {
    width: 100%;
    text-transform: uppercase;
}

.price-list tr {
    display: grid;
    border-bottom: 1px solid #e5e5e5;
    grid-template-columns: 50% 11.8% 7.7% 1fr 20%;
}

.price-list th {
    font-weight: normal;
    font-size: 11px;
    color: rgb(153, 153, 153);
    line-height: 2.5;
    height: 19px;
}

.price-list td {
    height: 64px;
    padding-top: 15px;
}

.price-list td:last-child {
    text-align: right;
}

.price-list th,
.price-list td {
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    text-align: left
}

.assortment--name {
    color: #000;
    font-weight: bold;
}

.assortment--new td {
    padding-top: 18px;
    height: 67px
}

.assortment__new-tag {
    top: -0.8em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 13px;
    margin-left: 18px;
    font-size: 8px;
    line-height: 1;
    color: #ffffff;
    background-color: #000000;
    border-radius: 2px;
}

.price-list th:last-child {
    text-align: right;
}

.price-list .price-number {
    text-align: center;
}

.order {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: darkorange;
}

.order-title {
    font-size:  40px;
}

.order-text {
    padding: 20px;
    padding-left: 0;
    width: 800px;
}

.order-form {
    width: 800px;
}

.order-form-group {
    padding: 10px 0;
    text-transform: uppercase;
}

.order-form-group label {
    display: inline-block;
    padding: 5px 0;
    padding-left: 17px;
    font-size: 12px;
    text-transform: uppercase;
}

.order-form input[type="text"],
.order-form select,
.order-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding: 9px 15px;
    font: inherit;
    color: inherit;
    border: 2px solid #d5d5d5;
    background-color: #a38b70;
}

.order-form input[type="text"]:hover,
.order-form select:hover,
.order-form textarea:hover {
    border-color: #bebebe;
}

.order-form input[type="text"]:focus,
.order-form select:focus,
.order-form textarea:focus {
    border-color: #8d745a;
}

.order-form p {
    padding-left: 15px;
}

.order-form-group-left {
    float: left;
}

.order-form-group-right {
    float: right;
}

.order-form-group-left,
.order-form-group-right {
    width: 290px;
}

.order-form textarea {
    display: block;
    min-height: 120px;
}

.order-form .btn {
    margin-top: 40px;
    color: #ffffff;
    background-color: #a38b70;
}

.page-footer {
    display: grid;
    grid-template-areas: "l m ."
                         "s p h";
    grid-template-columns: 400px 300px auto;
    align-self: center;
    background-color: black;
    height: 250px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 600px;
    text-transform: uppercase;
    color: white;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.menu {
    grid-area: m;
    padding-top: 20px;
}

.footer-logo {
    grid-area: l;
    justify-self: center;
    padding-top: 20px;
}

.socials {
    grid-area: s;
    justify-self: center;
}

.page-footer span {
    grid-area: h;
    justify-self: center;
    color: white;
}

.footer-text {
    grid-area: p;
    color: white;
}

.icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 66px;
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(255, 203, 120, 0.1);
}

.icon-fb {
    background-image: url("img/icon-fb.png");
}

.icon-inst {
    background-image: url("img/icon-insta.png");
}

.icon-vk {
    background-image: url("img/icon-vk.png");
}

.icon-HTML {
    background-image: url("img/htmlacademy.png");
}

.icon-button:hover {
    border: 1px solid rgba(255, 203, 120, 0.5);
}

.icon-button:active {
    opacity: 0.6;
}








